html{
  font-family: Times, "Times New Roman", serif;
  width:95%;
  margin:1em;
  background-color:gray;
}
div.headi{
background-color: lightgreen;
text-align: center;
border: 3px solid black;
}
div.navi{  
border: 3px solid black;
margin-top:1px;
background-color: lightcoral;
}
div.navi ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between; 
  flex-direction: right;
  flex-wrap:wrap;
  padding:0;
  
}
div.navi ul li a{
  padding: 0px 10px 0px 14px;
  text-decoration: none;
  color:black;
  font-style: bold;
}
div.navi ul li a:hover{
   background-color: gold;
}
div.main{
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  gap:5px;
  margin-top:5px;
}
aside{
  grid-column: 1/1;
  grid-row:1/4;
  border: 3px solid black;
  padding:4px;
  background-color: lightgoldenrodyellow;

}
aside.aside1 p{
  font-size: 1em;
  text-align: justify;
  word-spacing: 0.1em;
}
article.art1{
  grid-column: 2/4;
  grid-row:1/1;
  border: 3px solid black;
  padding:4px;
  background-color:yellow;
}
article.art1 p{
  font-size: 1em;
  text-align: justify;
  word-spacing: 0.1em;
  
}
article.art2{
  grid-column: 2/4;
  grid-row:2/2;
  border: 3px solid black;
  padding:4px;
  background-color:lightseagreen;
}
article.art2 p{
  font-size: 1em;
  text-align: justify;
  word-spacing: 0.1em;
}
article.art3{
  grid-column: 2/4;
  grid-row:3/3;
  border: 3px solid black;
  padding:4px;
  background-color: lightslategrey;
}
article.art3 p{
  font-size: 1em;
  text-align: justify;
  word-spacing: 0.1em;
}
footer.footi{
  grid-column: 1/4;
  grid-row:4/4;
  border: 3px solid black;
  padding: 4px;
  background-color: lightcoral;
}
footer.footi p{
  font-size: 0.7em;
  text-align: center;
  word-spacing: 0.1em;
}
@media screen and (max-width:600px){
  div.navi ul {
    display: inline-block;
    margin: auto;
  }
  div.navi ul li a {
    text-align:center;
    color: green;
    font-size: 1.1em;
  }
  div.main {
    display: inline-block;
  }


  }

  
  
  
  


